html,body{
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
}
#container{
	width: 100%;
	height: 100%;
	background-color: #58266a;
}
#container .head{
	width: 100%;
	height: 6rem;
	padding: 0.5rem;
	background-color: white;
}
#container .head .box-head{
	width: 100%;
	height: 100%;
}
#container .head .box-head .box-logo{
	width: 15%;
	height: 100%;
}
#container .head .box-head .box-logo .logo{
	background-image: url('../img/logo.png');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	width: 6rem;
	height: 4rem;
	margin-left: auto;
	margin-top: auto;
}
#container .head .box-head .box{
	width: 80%;
	height: 100%;
}
#container .body{
	width: 100%;
}